.container {
    display: flex; /* Многоцелевое свойство, которое определяет, как элемент должен быть показан в документе */
    flex-direction: column; /* Изменение логики расположения дочерних элементов при отображении(задает направление основных осей) */
    justify-content: space-between; /* Логика распределения дочерних элементов на странице(отступы и прочее) */

    padding: 20px; /* Устанавливает значение полей вокруг содержимого элемента. Полем называется расстояние от внутреннего края рамки элемента до воображаемого прямоугольника, ограничивающего его содержимое */
    height: 90px; /* Всота элемента */
    border: 1px solid #808080; /* Толщина, стиль и цвет границы*/
    border-radius: 10px; /* Сглаживание углов границы элемента */
}

.link {
    font-weight: 600; /* Толщина шрифта */
    font-size: 16px; /* Размер шрифта */

    color: #1c1c1c; /* Задает стиль элементу */
    text-decoration: none; /* Убирает подчеркивание у ссылки */
}

.info {
    display: flex; /* Многоцелевое свойство, которое определяет, как элемент должен быть показан в документе */
    justify-content: space-between; /* Логика распределения дочерних элементов на странице(отступы и прочее) */
    align-items: center; /* контролирует выравнивание элементов по поперечной оси */
}

.userData {
    font-size: 12px; /* Размер шрифта */
    color: #8f8f8f; /* Задает стиль элементу */
}

.score {
    padding: 6px 12px; /* Устанавливает значение полей вокруг содержимого элемента. Полем называется расстояние от внутреннего края рамки элемента до воображаемого прямоугольника, ограничивающего его содержимое */
    background-color: #8f8f8f; /* Задает цвет фону элемента */
    color: white; /* Определяет цвет текста элемента. */
    border-radius: 20px; /* Сглаживание углов границы элемента */
}